.profile .avatar {
  border-radius: 100%;
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 30px 30px 0;
  border: 10px solid rgba(0, 0, 0, 0.4);
  -webkit-shape-outside: circle(51% at 50% 46.5%);
          shape-outside: circle(51% at 50% 46.5%);
}
.profile p {
  font-weight: 300;
}
.profile p.intro {
  font-size: 20px;
  margin-left: .5rem;
  color: white;
}

#text_pos{
 margin-left:100px;
}




