
h1 {
  color: #FFF;
  font: 16px Open Sans;
  padding-left: 50px;
  padding-top: 30px;
}

.color {
  color: #d00355;
}

/*Position attributes for  the list items */

.Awards li {
  list-style: none;
  float: left;
  box-shadow: #000 0px 0px 10px;
  border: 1px solid #000;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 20px;
}

.caption {
  width: 230px;
  background: #FFF;
  margin-top: -5px;
  padding-bottom: 10px;
}

.caption h1 {
  color: #d00355;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font: 16px Oswald;
  text-transform: uppercase;
  padding-top: 10px;
}
.caption p {
  font: 13px Open Sans;
  text-align: center;
  padding: 10px;
}

.image_size{
        margin-left: 89px;
        margin-top: 10px;
        height:50px;
        width:50px;
}

a[href]{
    text-decoration: none;
    
}

#ineo_size{
    height: 60px;
    width:230px;
    margin: auto;
    margin-top:11px;
  
}

div#ineo{
    height: 145px;
}


.image_size#fikri_mobil{
  width:130px;
  height: 50px;
  margin: auto;
  margin-left: 55px;
  margin-top: 10px;
}

div#fikrimob_size{
  height: 145px;
}

.image_size#scholar{
    width: 90px;
    margin: auto;
    margin-left: 70px;
    margin-top: 11px;
  
}

.caption#certf{
  height: 145px;
}

p#certf_text_size{
  font-size: 12px;
  padding: 5px;
}