a{
	text-decoration:none;

}
#CVText{
    width: 90%;
	margin: 0 auto;
	text-align: center;
}
#content{
	text-align:center;
}

#button{
	text-align:center;
	margin:100px auto;
	padding:  10px 0px 40px 0px;
	display:block;
	height:30px;
	width:175px;
	font-size:25px;
	color:#F0F0F0;
	border-radius:10px;
	border-bottom:4px solid #0045A6;
	box-shadow: 6px 6px 6px #999;

    /*Background of the Button */
	background: -webkit-linear-gradient(#00C8F8, #0067F7); 
	background-size:1px 200px;
	
}

#button:hover{
	background-position:100px;
}

#button:active {
	box-shadow: 2px 2px 2px #777;
	border-bottom:1px solid #0045A6;
}