
/*Font for the text*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);

/*Website Background */
body {
  background-image: linear-gradient(to right, #ff512f, #dd2476);
  font-family: 'Roboto', sans-serif;
}

.font_1{
    line-height: 1.14em;
    font-family:sans-serif;
    text-align: center;
    color:#ffd046;
    padding-left: 100px;
    text-transform: uppercase;

}

.font_2{
    font-size: 40px;
    line-height: 1.25em;
    color:  #ffd046;
    text-align: center;
    padding-left: 100px;
    font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
    
}

h2.font_1{
    font-size:50px;
    margin-top:-500px;
    position: static;
}

