nav{
  background-color: #ccccb3 ;
  width: 100%;
  z-index:999;

}

nav li {
  padding: 0 10px;
  display: inline;
}

nav ul {
  display: inline;

}


nav a {
  height: 60px;
  line-height: 60px;
  text-decoration: none;
}



.navbar {
  position: fixed;
  width: 100%;
}

.img-circle {
    border-radius: 50%;
    width:60px;
    height:60px;
}

.footer{
  
  position:fixed;
  
}

#image_size{
    margin-top:-20px;
    width: 100%;
    height: 750px;
    background-size: cover;
    
}
.image{
  position: relative;
}

#Home_pos{
  height: 580px
}

#contact_pos{
  height: 900px;

}

.navbar_custom{
  position:fixed;
  font-family: Arial, Helvetica, sans-serif;
  background-color:  #ff3333;


}

#quote_pos{
  margin-top:30px;
}

#Awards_pos{
  margin-top:-50px;
}

#footer {
  width: 100%;
  bottom: 0px;
  text-align: center;

}

#Project_pos{
  margin-top: 300px;
}



#quote{
  padding: 50px;
  
}

#footer li{
    padding-right:30px;
    margin-right:30px;
}


#name{
  height: 60;
  width: 650;
}