
#quote-box {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  color: #fff;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}

#quote-box:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
}
#quote-box:active {
  border: 1px solid #336699;
}


#test {
  font-size: 100px;
}
