<!DOCTYPE html>
<html lang="en">
<head>
  <title>T.Safa Elmali</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
  <!--External Sheets-->
  <link rel="stylesheet" href="static/css/Awards.css" type="text/css" />
  <link rel="stylesheet" href="static/css/fonts.css" type="text/css" />
  <link rel="stylesheet" href="static/css/positioning.css" type="text/css" />
  <link rel="stylesheet" href="static/css/contact.css" type="text/css" />
  <link rel="stylesheet" href="static/css/Carousel.css" type="text/css" />
  <link rel="stylesheet" href="static/css/AboutMe.css" type="text/css" />
  <link rel="stylesheet" href="static/css/CVbutton.css" type="text/css" />
  <link rel="stylesheet" href="static/css/Quotes.css" type="text/css" />
  <script type="text/javascript" src="static/Quotes.js"></script>

  <!--Carousel-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
<script type="text/javascript">
    function Function() 
    {
    alert("I got your message! Thank you! :)");
    }
</script>
    
    
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-logo" href="#"><img src="static/images/safa.jpg" class="img-circle"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Awards</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Quotes</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
  
    <!--Welcome section-->
    <div id="Home_pos">
     <img id="image_size" src="static/images/background_3.jpg" alt="Macbook and Coffee"/>
     {% if name %}
     <h2 class="font_1" >Hello {{name|capitalize}}!<br></h2>
     {% else %}
     <h2 class="font_1" >Hello Stranger!<br></h2>
     {% endif %}
     <h3 class="font_2">View my work</h3>
    </div>

<!--About-->
<div id="About_pos">
  <h1>About me<small>Let me introduce myself
</small> </h1>
<div>
		<nav class="nav">
		</nav>
		<div class="profile">
				<img class="avatar" src="static/images/safa_2.jpg" alt="Image of mine">
				<p class="intro">
				  My name is Safa and I am from Turkey.I am studying Computer Engineering in Kadir Has University in Istanbul.
				  <br>
				      I played basketball for 2 years as an amateur.I learned how to motivate my teammates.I always try to state positive and keep smile.
				      Because Smiling lowers stress and anxiety.An easy way to boost your mood, be healthier, feel better.
				  <br>I am daily user of Ms Word.</p>
            <p class="intro">
              I am trying to improve myself on HTML,CSS,Javascript,C#,Android Studio and Java for now.
            </p>
            <p class="intro"> 
               Learning game engines as a hobby such as Unity and Unreal Engine.
            </p>
            <p id="text_pos" class="intro">
            Playing basketball,
            Swimming a lot,
            Learning and coding everyday!
            </p>
            
  <!--CVButton-->
   <div id="CVText">
     <br>
     <br>
     <p class="intro" >For more info,you can check my CV. </p>
	  	<div>
		  <a  href="static/CV_1.pdf" target="_blank"><span id="button">Check CV</span></a>
		        </div>
		      </div>
      </div>
    </div>
  </div>

<!--Awards-->
<div class="Awards">
  <h1 id="Awards_pos">Awards</h1>
  <p></p>
  <ul>
    <li>
      <div class="caption">
        <img src="static/images/Turkcell.png" alt="Turkcell Company logo" class="image_size" />
        <h1><a target="_blank" href="https://gelecegiyazanlar.turkcell.com.tr/kisi/safae/belge/android-101">Android 101</a></h1>
        <p>Success Degree</p>
      </div>
    </li>
      <li>
      <div class="caption">
          <img src="static/images/Turkcell.png" alt="Turkcell Company logo" class="image_size" />
        <h1><a target="_blank" href="https://gelecegiyazanlar.turkcell.com.tr/kisi/safae/belge/android-201">Android 201</a></h1>
        <p>Success Degree</p>
      </div>
    </li>
      <li>
      <div class="caption">
       <img src="static/images/Turkcell.png" alt="Turkcell Company logo" class="image_size" />
        <h1><a target="_blank" href="https://gelecegiyazanlar.turkcell.com.tr/kisi/safae/belge/app-inventor-101">App Inventor 101</a></h1>
        <p>Success Degree</p>
      </div>
    </li>
      <li>
      <div class="caption">
       <img src="static/images/Turkcell.png" alt="Turkcell Company logo" class="image_size" />
        <h1><a target="_blank" href="https://gelecegiyazanlar.turkcell.com.tr/kisi/safae/belge/app-inventor-201">App Inventor 201</a></h1>
        <p>Success Degree</p>
      </div>
    </li>
       <li>
      <div class="caption">
       <img src="static/images/Turkcell.png" alt="Turkcell Company logo" class="image_size" />
        <h1><a target="_blank" href="https://gelecegiyazanlar.turkcell.com.tr/kisi/safae/belge/app-inventor-301">App Inventor 301</a></h1>
        <p>Success Degree</p>
      </div>
    </li>
        <li>
      <div class="caption" id="ineo">
    <img src="static/images/ineo.jpg" alt="INEO company logo" id="ineo_size"/>
        <h1>Innovation and Entrepreneurship</h1>
        <p>Success Degree</p>
      </div>
    </li>
    <li>
      <div class="caption" id="fikrimob_size">
        <img src="static/images/fikrimobil.png" alt ="'fikrimobil' competition logo" class="image_size" id="fikri_mobil"/> 
        <p><a target="_blank" href="http://fikrimobil.com/ceyrek-finalistler">YapıKredi FikriMobil Quarter Final(2016)<br>
        Project Name:Hesapli Bank</a></p>
      </div>
    </li>
        <li>
      <div class="caption" id="certf">
        <img src="static/images/certificate.jpg" alt="A certificate image" class="image_size" id="scholar"/> 
        <h1>Annual Scholarship of Success(2015-2016)</h1>
        <p id="certf_text_size"><a  target="_blank" href="http://www.khas.edu.tr/annoucement/1446">25% Annual Scholarship of Success for 3rd grade in Kadir Has University</a></p>
      </div>
    </li>
  </ul>
</div>


<!---Projects-->
<!--Carousel-->
<div>
  <br>
  <h1 id="Project_pos"> Projects <small>Projects that I am currently working on
</small> </h1> 
<div class="bs-example">
    <div id="CarouselScroll" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#CarouselScroll" data-slide-to="0" class="active"></li>
            <li data-target="#CarouselScroll" data-slide-to="1"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item active">
              <a target="_blank" href="https://www.youtube.com/watch?v=beuoNuK2tbk&index=1&list=PLPV2KyIb3jR4u5jX8za5iU1cqnQPmbzG0">
                <img src="static/images/unity_2.png" alt="Unity project screenshot"></a>
            </div>
            <div class="item">
              <a target="_blank" href="https://www.youtube.com/watch?v=9h-z0AyG42k&list=PLPV2KyIb3jR4_IYZY2V0G3IUYcx1zZkJe">
                <img src="static/images/unity.png" alt="Unity project screenshot"></a>
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#CarouselScroll" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#CarouselScroll" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
  </div>
</div>


<!--Quote-->
<div>
  <br>
  <h1 id="quote_pos">Quotes</h1>
  <div id="quote-box">
  <div id="quote" onclick="getQuote()">
  "Good things come to people who wait, but better things come to those who go out and get them."
  </div>
</div>
</div>

<!--Contact form-->
    <div id="contact_pos">
      <br>
  <h1> Contact <small>Thanks you so much for reviewing my Developer Portfolio. For questions about my skills and experience, or even if you just want to say hi, don’t hesitate to get in touch.
</small> </h1>
<section class="contact-wrap">
  <form  method="POST" action = "/contact" class="contact-form">
    <div class="col-sm-12" id="name">
      <div class="input-block">
        <input name="name" required="required" type="text" class="form-control" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" >
      </div>
    </div>
    <div class="col-sm-12">
      <div class="input-block">
        <input  name="email"required="required" type="text" class="form-control" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" >
      </div>
    </div>
    <div class="col-sm-12">
      <div class="input-block textarea">
      <input name ="message" required="required" type="text" class="form-control" placeholder="Drop your message here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Drop your message here'" >
        <textarea rows="3" type="text" class="form-control"></textarea>
      </div>
    </div>
    <div class="col-sm-12">
     <button  onclick="Function()" class="square-button" value="submit">Send</button>
    </div>
  </form>
</section>
</div>

  <!--My Accounts-->
<footer>
  <nav id="footer">
      <ul>
        <li><a href="https://www.facebook.com/safaelmali" target="_blank"><img src="static/images/facebook.png" /></a></li>
        <li><a href="https://github.com/SafaElmali"  target="_blank"><img src="static/images/github.png"></a></li>
        <li><a href="https://www.linkedin.com/in/tahsin-safa-elmal%C4%B1-494175113/" target="_blank"><img src="static/images/linkedin.png"></a></li>
        <li><a href="https://twitter.com/SafaElmali" target="_blank"><img src="static/images/twitter.png"></a></li>
      </ul>
    </nav>
</footer>
</body>
</html>
